<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
		<h1>About the project</h1>
		<h2>Anna uczy się Astro. </h2>
        <p><i>Jest 13 września 2025 roku godzina 21:51</i></p>
        <p>Na dworze zrobiło się chłodno, kończy się lato? <br>
        Szkoda, ale może będzie więcej czasu na naukę Astro :)</p>
	</body>
</html>
